@import './../../../styles.scss';

.channel-card {
    @include dFlex($fd: column, $jc: space-between, $ai: normal);
    height: 100%;
    border-radius: 30px;
}

.header-channel {
    @include dFlex($jc: space-between);
    padding: 25px 45px;
    box-shadow: $boxShadow;
}

.chat-space {
    @include dFlex($fd: column, $jc: flex-end);
    height: 100%;
    margin: 15px;
}

app-channel-msg,
app-direct-msg{
    width: 100%;
}

.icon-button {
    height: 40px;
    width: 40px;
    background-color: $bgGrey;
    padding: 8px;

    &:hover {
        background-color: $bgGrey;

        mat-icon {
            color: $dkBlue;
        }
    }
}