<div class="channel-row">
    <mat-card class="channel-card">
        @if (chat === 'channel') {
        <app-header-channel [channel]="currentChannel" [members]="currentChannelMembers"
            [allUsers]="users"></app-header-channel>
        <main class="chat-space">
            <app-channel-msg [channel]="currentChannel" [owner]="'Willi'"></app-channel-msg>
            @for (message of channelMessages; track $index) {
                <app-message [msg]="message" [user]="getUserFromMessage(message)"></app-message>
            }
        </main>
        }@else if (chat === 'message') {
        <app-direct-message [user]="chatUser"></app-direct-message>
        <main class="chat-space">
            <app-direct-msg [user]="chatUser"></app-direct-msg>

        </main>
        }@else {
        <app-header-new-msg></app-header-new-msg>
        <main class="chat-space">

        </main>
        }
        <app-input-textarea></app-input-textarea>
    </mat-card>

    @if (chat === 'channel') {
    <app-threads></app-threads>
    }

</div>