@import './../../../styles.scss';

.channel-card {
    @include dFlex($fd: column, $jc: space-between,$ai: normal);
    height: 100%;
    border-radius: 30px;
}

.icon-button {
    height: 40px;
    width: 40px;
    background-color: $bgGrey;
    padding: 8px;

    &:hover {
        background-color: $bgGrey;

        mat-icon {
            color: $dkBlue;
        }
    }
}