@import './../../app.component.scss';

/////////// global colors /////////////

$bgGrey: #ECEEFE;
$bgBlue: #797EF3;

$dkBlue: #535AF1;
$lgBlue: #6E73DD;



/////////// border + shadows /////////////

$boxShadow: 0px 2px 10px 0px #00000014;



/////////// global mixings /////////////

@mixin dFlex ($fd: row, $jc: center, $ai: center, $gap: 0) {
    display: flex;
    flex-direction: $fd;
    justify-content: $jc;
    align-items: $ai ;
    gap: $gap ;
}

@mixin pAbsolute ($t: unset, $r: unset, $b: unset, $l: unset, $z: unset) {
    position: absolute;
    top: $t;
    right: $r;
    bottom: $b;
    left: $l;
    z-index: $z;
}

@mixin iButton($h: 40px, $w: 40px, $bgC: $bgGrey, $p: 8px, $hBgC: $bgGrey, $hBgIC: $bgGrey) {
    height: $h;
    width: $w;
    background-color: $bgC;
    padding: $p;

    &:hover {
        background-color: $hBgC;

        mat-icon {
            color: $hBgIC;
        }
    }

    &:focus,
    &:active{
        background-color: $bgC;        
    }

}


/////////// global classes /////////////





///////// ^for styles.css^
/// 


.channle-card {
    margin-top: 100px;
    margin-inline: 16px;


    height: 100%;
    border-radius: 30px;
}


.icon-button {
    height: 40px;
    width: 40px;
    background-color: $bgGrey;
    padding: 8px;

    &:hover {
        background-color: $bgGrey;

        mat-icon {
            color: $dkBlue;
        }
    }
}