<div class="header-content">
    <div class="logo">
        <img src="./../../../assets/img/logo_+_text.png" alt="Logo">
    </div>

    <div class="search-container">
        <input type="text" matInput placeholder="DABubble durchsuchen">
        <mat-icon>search</mat-icon>
    </div>

    <div class="user-head">
        <span class="name">Manual Thaler</span>
        <div class="avater">
            <img src="./../../../assets/img/avatars/1.svg">
        </div>
        <div class="menu-btn"> 
            <img src="./../../../assets/img/icons/expand_more_bk.png">
        </div>
    </div>

</div>


