<div class="header-content">
    <div class="logo">
        <img src="./../../../assets/img/logo_+_text.png" alt="Logo">
    </div>

    <app-search-bar class="search-bar"></app-search-bar>

    <div class="user-head" (click)="openDialog()">
        <span class="name">{{data.currentUser.name}}</span>

        <div class="avater">
            <img src={{data.currentUser.avatar}}>
        </div>
        <div class="menu-btn">
            <img src="./../../../assets/img/icons/expand_more_bk.png">
        </div>
    </div>
</div>