@import "./../../../styles.scss";

* {
  box-sizing: border-box;
  z-index: 1;
}

.header-content {
  position: relative;
  padding: 20px 20px 0px 20px;
  @include dFlex($gap: 20px, $jc: space-between);
}

.logo {
  min-width: 366px;
  height: 70px;
  padding-left: 25px;
  flex: 1;
}

.search-bar {
  margin-right: 50px;
  width: 100%;
}

.user-head {
  flex: 1;
  @include dFlex($gap: 20px, $jc: flex-end);
  height: 70px;
  cursor: pointer;
  .name {
    white-space: nowrap;
    font-size: 22px;
    font-weight: 500;
  }
  .avater {
    @include dFlex();
    img {
      width: 66px;
      height: 66px;
      border-radius: 40px;
    }
  }
}
