@import "../../../styles.scss";

$fontFigtree: "Figtree", sans-serif;


.background-container {
  
  @include dFlex(column, center, center);
  width: 100vw;
  max-width: 1920px;
  height: 100vh;
  margin: 0 auto;
  z-index: 100;
  background-color: $bgGrey;
  position: relative;
  animation: backgroundFadeIn 1s ease-in  forwards;
  

  &__logo {
    @include pAbsolute(32px, unset, unset, 32px, unset);
  }

  &__legals {
    @include dFlex(row, center, center, 16px);
    position: absolute;
    bottom: 48px;
    color: $lgPurple;
    cursor: pointer;
    margin-top: 10px;
    font-family: $fontFigtree;

    &:hover {
      cursor: pointer;
      transform: scale(1.02);
    }
  }

  &__sign-up-box{
    position: absolute;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    align-items: center;
    display: flex;
    top: 32px;
    right: 32px;
    box-shadow: unset;
    background-color: #eceefe;

    span{
      @include fontNunito($weight: 400, $size: 18px);
    }

    p{
      @include fontNunito($weight: 400, $size: 16px);
      color: #797EF3;

      &:hover{
        cursor: pointer;
        transform: scale(1.02);
        transition: ease-in 0.2s;
      }
    }
    
  }
}

.login {
  width: 600px;
  height: 688px;
  padding: 42px;
  border-radius: 30px;
  @include dFlex(column, center, 36px);
  gap: 36px;
  box-shadow: $boxShadow;
  z-index: 200;
  animation: backgroundFadeIn 1.5s ease-in  forwards;

  &__header,
  &__subtitle {
    text-align: center;
  }

  &__header {
    color: $dkBlue;
    padding: 36px;
    @include fontNunito($weight: 700, $size: 46px);
  }

  &__subtitle {
    @include fontNunito($weight: 400, $size: 20px);
  }

  &__form-field {
    display: flex;
    flex-direction: column;
    

    mat-icon {
      color: grey;
      padding-left: 30px;
    }

    input {
      padding-left: 8px;
      @include fontNunito($weight: 500, $size: 18px);
    }
  }

  &__forgot-password{
    box-shadow: unset;

    a{
    text-decoration: none;
    color: #1381ff;
    text-align: center;
    margin-bottom: 32px;
  }
}

  &__bottom-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 32px;
    align-items: center;
    width: 100%;
    box-shadow: unset;
  }
  

  &__sign-in {
    

    button {
      transition: background-color 0.3s ease-in-out;
      width: 153px;
      height: 49px;
      border: none;
      color: white;
      background-color: #797EF3;
      border-radius: 28px;
      @include fontNunito($weight: 700, $size: 18px);

      &:hover {
        cursor: pointer;
        border: 1px solid #797EF3;
        background-color: white;
        color: #797EF3;
      }
    }

    &__sign-in .valid-form {
      background-color: $dkBlue;
      animation: buttonFadeIn 0.3s ease-in-out;

      &:hover {
        background-color: darken($dkBlue, 5%);
      }
    }
  }

  &__guest {
    

    button {
      transition: background-color 0.3s ease-in-out;
      border: 1px solid #797EF3;
      width: 153px;
      height: 49px;
      color: #797EF3;
      background-color: white;
      border-radius: 28px;
      @include fontNunito($weight: 700, $size: 18px);

      &:hover {
      
        cursor: pointer;
        border: 1px solid white;
        background-color: #797EF3;
        color: white;
      }
    }

    &__guest .valid-form {
      background-color: $dkBlue;
      animation: buttonFadeIn 0.3s ease-in-out;

      &:hover {
        background-color: darken($dkBlue, 5%);
      }
    }
  }

}

form {
  display: flex;
  flex-direction: column;

  mat-icon {
    color: grey;
    padding-left: 30px;
  }

  input {
    padding-left: 8px;
    @include fontNunito($weight: 500, $size: 18px);
  }
}

:host ::ng-deep .mdc-text-field--outlined {
  --mdc-outlined-text-field-container-shape: 28px;
  background-color: $bgGrey;
  border-radius: 28px;
  border: transparent;
}

:host ::ng-deep .mdc-form-field > label {
  @include fontNunito($weight: 400, $size: 18px);
}

:host ::ng-deep .mat-mdc-form-field-bottom-align {
  height: 36px !important;
}

:host
  ::ng-deep
  .mdc-checkbox
  .mdc-checkbox__native-control:enabled:focus:checked
  ~ .mdc-checkbox__background {
  background-color: $dkBlue;
  border: $dkBlue;
}



@keyframes buttonFadeIn {
  from {
    background-color: grey;
  }
  to {
    background-color: $dkBlue;
  }
}

@keyframes backgroundFadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.divider {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  align-items: center;
  text-align: center;
}

.divider .line {
  flex-grow: 1;
  height: 1px;
  background-color: #ccc;
}

.divider .text {
  padding: 0 10px;
  color: #777;
}


.google-login-btn {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  
  gap: 20px;

  img {
      width: 38px;
      height: 38px;
      object-fit: cover;

  }

 }

.input-field-container{
  border-radius: 30px;
    border: unset;
    height: 58px;
    margin-top: 30px;
    margin-bottom: 32px;
    background-color: $bgGrey;
    transition: ease-in-out 0.3s;

    &:hover{
      background-color: white;
      border: 1px solid #797EF3;
      cursor: pointer;
      transition: ease-in-out 0.3s;
    }
}

@keyframes slideOutDown {
  from {
    transform: translateY(0);
    
  }
  to {
    transform: translateY(150%);
  }
}

.slide-out-down {
  animation: slideOutDown 0.8s ease forwards;
}


/* ENTFERNT BORDER ABER DANN IN ALLEN ZUSTÄNDEN 
:host ::ng-deep .mdc-notched-outline__trailing,
:host ::ng-deep .mdc-notched-outline__leading {
  border-color: transparent !important ;
}*/
