@import "./../../../../styles.scss";

.searchBar-container {
  position: relative;
  height: 40px;
  padding: 15px 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 42px;
  background-color: white;

  input {
    width: 100%;
    height: 100%;
    border: none;
    gap: 10px;
    font-size: 18px;
    font-weight: 500;

    &:focus {
      outline: none;
    }
  }

  .mat-icon {
    color: #686868;
  }
}

.search-container {
  position: absolute;
  top: 75px;
  left: 0;
  z-index: 100;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 25px;
  background: white;
  border: 1px solid $lgPurple;
  border-radius: 30px;
  overflow-y: auto;
  width: calc(100% - 50px);
  max-height: 50vh;
  clip-path: inset(0 round 30px);

  ul {
    padding: 0;
    list-style-type: none;

    li {
      margin-top: 16px;
    }

    .categoryName {
      margin-left: 20px;
      font-size: 18px;
      font-weight: 600;
    }
  }
}

.channelList {
  @include dFlex($jc: flex-start, $gap: 15px);
  border-radius: 20px;
  padding: 4px 20px 4px 20px;

  .img-channel-hash {
    height: 16px;
    width: 16px;
    background-image: url("../../../../assets/img/icons/hash_bk_16.png");
  }

  .channel-name {
    font-size: 18px;
    font-weight: 400;
  }

  &:hover {
    background-color: $bgGrey;
    cursor: pointer;

    .img-channel-hash {
      background-image: url("../../../../assets/img/icons/hash_bl_16.png");
    }

    .channel-name {
      color: $dkBlue;
      font-weight: 700;
    }
  }
}

.user-chip {
  cursor: pointer;
  transition: transform 0.2s ease;
  transform: scale(0.8);

  &:hover {
    transform: scale(0.9);
  }
}

.user-avatar {
  height: 35px;
  width: 35px;
  border-radius: 50%;
}

.messageContainer {
  @include dFlex($ai: flex-start, $gap: 5px);
  flex-direction: column;

  .messageHeader {
    @include dFlex($ai: flex-start, $gap: 5px);

    .message-time {
      font-size: 10px;
      color: #808080;
    }

    .user-name {
      font-size: 16px;
      font-weight: 500;
    }
  }

  .message-channel-name {
    font-size: 12px;
    color: #808080;
  }
}


@media (max-width: $mobile-breakpoint) {


  .searchBar-container {
    height: unset;
    padding: 8px 24px;
    border-radius: 42px;
    border: 1px solid $lgPurple;

    input {
      font-size: 17px;
    }
  }

}

@media (max-width: 400px) {}