<!-- INPUT FORM AREA -->
<div class="message-input">

  <div id="messageText" contenteditable="true" class="message-input__textarea" #messageText placeholder="Antworten..."
    (input)="updateButtonState(messageText.innerText)" (keydown.enter)="handleEnter($event, messageText.innerText)">
  </div>

  <div class="message-input__controls">
    <div class="message-input__actions">
      <div class="message-input__file-upload">
        <mat-icon class="message-input__action-btn message-input__file-btn" (click)="fileInput.click()">add</mat-icon>
        <input type="file" class="message-input__file-input" type="file" #fileInput style="display: none"
          (change)="onFileSelected($event)" accept="image/jpeg,image/png,application/pdf" />
      </div>
      <hr />
      <mat-icon class="message-input__action-btn" #emoijBtn (click)="openDialogEmoji()">sentiment_satisfied</mat-icon>
      <mat-icon class="message-input__action-btn" #atUser (click)="openDialogAtUser()"
        appClickOutside>alternate_email</mat-icon>
    </div>

    <button class="message-input__send-btn" (click)="addNewMsg(messageText.innerText); messageText.innerText = ''"
      [disabled]="isButtonDisabled">
      <mat-icon>send</mat-icon>
    </button>

  </div>
</div>