@import "./../../../../styles.scss";

.dropDown {
  @include dFlex($jc: center);
  flex-direction: column;
  width: 200px;
  height: 100px;

  .dropdown-item {
    @include dFlex($jc: flex-start, $ai: center, $gap: 15px);

    span {
      padding: 8px;
      cursor: pointer;
      font-size: 22px;
      width: 150px;
      text-align: center;
      border-radius: 100px;

      &:hover {
        color: $dkBlue;
        background-color: $bgGrey;
      }
    }
  }

}


@media (max-width: $mobile-breakpoint) {

  .dropDown {
      border-radius: 30px 30px 0px 0px !important;
      width: 100% !important;
      max-width: 100% !important;
      // @include pAbsolute($b: 0px, $l: 0px, $r: 0px);
  }



}

@media (max-width: 400px) {}