@import './../menue.component.scss';

.menu-users-container {
    @include dFlex($fd: column, $ai: flex-start, $gap: 25px);

    .menu-users-header {
        @include dFlex($jc: space-between);
        width: 100%;
        padding: 3px 0px 3px 0px;

        .menu-users-header-left {
            @include dFlex($jc: flex-start, $gap: 15px);

            .img-expand-users {
                position: relative;
                height: 30px;
                width: 30px;
                background-image: url('../../../../assets/img/icons/arrow_drop_down_bk.png');

                &:hover {
                    background-image: url('../../../../assets/img/icons/arrow_drop_down_bl.png');
                }
            }

            mat-card-title {
                @include dFlex($jc: flex-start, $gap: 15px);
            }
        }
    }

    .menu-users-content {
        @include dFlex($fd: column, $ai: flex-start, $gap: 13px);
        font-size: 18px;
        font-weight: 400;
        padding-left: 25px;

        .user {
            @include dFlex($jc: flex-start, $gap: 15px);
            border-radius: 20px;
            padding: 4px 20px 4px 20px;

            .user-avatar {
                height: 50px;
                width: 50px;
                border-radius: 50%;
            }

            &:hover {
                background-color: $bgGrey;
                cursor: pointer;

                .img-channel-hash {
                    background-image: url('../../../../assets/img/icons/hash_bl_16.png');
                }

                .user-name {
                    color: $dkBlue;
                    font-weight: 700;
                }
            }
        }

        .active {
            .img-channel-hash {
                background-image: url('../../../../assets/img/icons/hash_bl_16.png');
            }

            .channel-name {
                color: $dkBlue;
                font-weight: 700;
            }
        }
    }
}