<section class="menu-users-container">
    <div class="menu-users-header">
        <div class="menu-users-header-left">
            <div class="img-expand-users icon-btn" (click)="toggleUsersVisibility();"></div>
            <mat-card-title>
                <img src="../../../../assets/img/icons/account_circle.png" alt="">
                Direktnachrichten
            </mat-card-title>
        </div>
    </div>
    <div class="menu-users-content" *ngIf="usersVisible">
        @for (user of users; track $index) {
        <app-user-chip [user]="user" [active]="isActiveUser($index)" (click)="changePath($index)"></app-user-chip>
        }
    </div>
</section>