@import './../../channel.component.scss';

mat-card {
    padding: 40px;
    width: 100%;
    min-width: 450px;
    height: 100%;

    @include dFlex($fd: column, $ai: flex-end, $gap: 20px);

}

.card-header {
    @include dFlex($jc: space-between);
    width: 100%;

    mat-card-title {
        font-size: 24px;
        font-weight: 700;
    }

    button {
        @include iButton($bgC: unset, $hBgIC: #000);
    }
}

.channel-name {
    @include dFlex($jc: flex-start, $gap: 15px);
    width: 100%;

    span {
        font-size: 18px;
        font-weight: 400;
        color: $dkBlue;
    }
}

app-input-add-user {
    width: 100%;
}

.btn {
    font-size: 18px;
    font-weight: 700;
    height: 49px;
    border: none;
    border-radius: 28px;
    font-weight: 700;
    padding: 12px 25px;
    color: white;
}

.btn-disable {
    background-color: $dkGrey;
}

.btn-enable {
    background-color: $dkBlue;

    &:hover {
        cursor: pointer;
        background-color: $lgBlue;
    }
}