@import './../../channel.component.scss';

mat-card {
    padding: 40px;
    width: 100%;
    min-width: 450px;
    height: 100%;

    @include dFlex($fd: column, $ai: flex-end, $gap: 20px);

}

.card-header {
    @include dFlex($jc: space-between);
    width: 100%;

    mat-card-title {
        font-size: 24px;
        font-weight: 700;
    }

    button {
        @include iButton($bgC: unset, $hBgIC: #000);
    }
}

.channel-name {
    @include dFlex($jc: flex-start, $gap: 15px);
    width: 100%;

    span {
        font-size: 18px;
        font-weight: 400;
        color: $dkBlue;
    }
}

.user-sector {
    width: 100%;
}

.user-input {
    width: calc(100% - 42px);
    padding: 15px 20px;
    border-radius: 30px;
    border: 1px solid $lgPurple;
    outline: none;

    &:focus-visible {
        border-color: $bgBlue;
    }
}


.user-selector {
    @include dFlex($ai: center, $jc: flex-start);
    border-radius: 30px;
    border: 1px solid $lgPurple;
    height: 45px;
    padding-inline: 20px;
}


.filterd-users {
    position: fixed;
    padding: 25px;
    margin-top: -8px;
    margin-left: 16px;
    background: white;
    border: 1px solid $lgPurple;
    border-radius: 0 30px 30px 30px;
}

.btn {
    font-size: 18px;
    font-weight: 700;
    height: 49px;
    border: none;
    border-radius: 28px;
    font-weight: 700;
    padding: 12px 25px;
    color: white;
}

.btn-disable {
    background-color: $dkGrey;
}

.btn-enable {
    background-color: $dkBlue;

    &:hover {
        cursor: pointer;
        background-color: $lgBlue;
    }
}