<mat-card (click)="closeFilterdUsers()">

    <div class="card-header">
        <mat-card-title>Leute hinzufügen</mat-card-title>
        <button mat-icon-button disableRipple (click)="onNoClick()">
            <mat-icon>close</mat-icon>
        </button>
    </div>

    <div class="channel-name">
        <img src="./../../../../../assets/img/icons/hash_bl_18.png" alt="">
        <span>Channel Name</span>
    </div>

    <div class="user-sector" (click)="stopPropagation($event)">

        @if (!userSelected) {
        <input #userInp class="user-input" type="text" placeholder="Name eingeben" (input)="filterUsers()">
        } @else{
        <div class="user-selector">
            <app-user-chip [user]="addedUser" [smale]="true" (deletUser)="removeUser()"></app-user-chip>
        </div>
        }

        <ul class="filterd-users" [class.d-none]="!selectListVisible">
            @for (user of filterdUsres; track $index) {
            <app-user-chip (click)="seletUser(user)" [user]="user"></app-user-chip>
            }
        </ul>
    </div>

    <button class="btn" [ngClass]="setBtnClass()" (click)="addUser()">Hinzufügen</button>
</mat-card>