<mat-card>

    <div class="card-header">
        <mat-card-title>Leute hinzufügen</mat-card-title>
        <button mat-icon-button disableRipple (click)="onNoClick()">
            <mat-icon>close</mat-icon>
        </button>
    </div>

    <div class="channel-name">
        <img src="./../../../../../assets/img/icons/hash_bl_18.png" alt="">
        <span>Channel Name</span>
    </div>

    <app-input-add-user [allUsers]="data.allUsers" (userAdded)="onUserAdded($event)" (userRemoved)="onUserRemoved()"></app-input-add-user>

    <button class="btn" [ngClass]="setBtnClass()" (click)="addUser()">Hinzufügen</button>

</mat-card>