@import "../../../styles.scss";

$primary-gradient-start: #313ae6;
$primary-gradient-end: #797ef3;
$background-fade-end: #eceefe;
$login-area-background: #f2f2f2d1;
$link-color: #797ef3;
$text-color-white: white;
$text-color-black: black;

.start-screen {
  position: absolute;
  top: 0;

  width: 100vw;
  height: 100vh;
  background: linear-gradient(1.46deg,
      $primary-gradient-start 1.22%,
      $primary-gradient-end 98%);
  animation: fadeOutBackground 1s ease-in-out 2s forwards;
  display: flex;
  justify-content: center;
  align-items: center;


  &_content {
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    transform: translate(-50%, -50%);
    animation: moveToCorner 1s ease-in 1s forwards;

    @media (max-width: $tablet-breakpoint) {
      animation: moveToTop 1s ease-in 1s forwards;
    }

  }

  &_logo {
    height: 150px;
    width: 150px;
    animation: sizeDown 1s ease-in 1s forwards, spin 1s linear 1s;

    @media (max-width:1000px) {
      animation: sizeDown 1s ease-in 1s forwards, NoSpin 1s linear 1s;
    }

    @media (max-width: $tablet-breakpoint) {
      height: 100px;
      width: 100px;
    }

  }
}

.title {
  height: 100px;
  z-index: 15;
  font-size: 64px;
  font-weight: 700;
  color: $text-color-white;
  display: flex;
  justify-content: start;
  align-items: center;
  overflow: hidden;
  animation: revealText 2s ease-in forwards;
  @include fontNunito($weight: 700, $size: 64px);

  @media (max-width: $tablet-breakpoint) {
    font-size: 48px;
  }
}

@keyframes spin {
  from {
    transform: rotateY(0deg);
  }

  to {
    transform: rotateY(-360deg);
  }
}

@keyframes revealText {

  0%,
  50% {
    width: 0%;
    font-size: 64px;
    color: $text-color-white;
  }

  50%,
  95% {
    width: 100%;
  }

  95%,
  100% {
    font-size: 32px;
    color: $text-color-black;
  }
}

@keyframes sizeDown {
  from {
    height: 150px;
    width: 150px;
  }

  to {
    height: 70px;
    width: 70px;
  }
}

@keyframes fadeOutBackground {
  0% {
    opacity: 1;
    ;
  }

  100% {
    opacity: 0;
  }
}

@keyframes moveToCorner {
  to {
    top: 20px;
    left: 32px;
    transform: translate(-0%, -0%);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}



@media (max-width: $tablet-breakpoint) {

  @keyframes moveToTop {
    to {
      top: 30px;
      transform: translateX(-60%);
    }
  }

  @keyframes Nospin {
    from {
      transform: rotateY(0deg);
    }

    to {
      transform: rotateY(0deg);
    }
  }

}
