@import "../../../../styles.scss";

* {
  box-sizing: border-box;
}

.message {
  position: relative;
  padding: 8px 20px 8px 36px;
  display: flex;
  gap: 20px;
  margin-bottom: 0px;
  width: 100%;
  transition: background-color 0.3s ease;
  overflow: hidden;

  &:hover {
    background-color: $bgGrey;

    .message-card {
      background-color: white;
      @include transition(background-color 0.3s ease);
    }

    .emoji-popup {
      animation: emojiPopup 0.3s ease-out forwards;
    }
  }
}

.avatar {
  width: 70px;
  height: 70px;
  border-radius: 40px;
  border: 2px solid white;
  object-fit: cover;
  object-position: center;

  &:hover {
    cursor: pointer;
  }
}

.details {
  @include dFlex($fd: column, $ai: flex-start);
  width: 100%;
}

.name-timestamp {
  display: flex;
  align-items: baseline;
  gap: 16px;
  margin-left: -6px;

  h3 {
    @include fontNunito(700, 18px);

    &:hover {
      cursor: pointer;
    }
  }

  span {
    @include fontNunito(400, 14px);
    color: #686868;
  }

}

.reply {
  @include dFlex($jc: flex-start, $gap: 10px);

  a {
    text-decoration: none;
    color: $lgBlue;

    &:hover {
      color: $dkBlue;
      font-weight: 500;
    }
  }

  span {
    @include fontNunito(400, 14px);
    color: #686868;
  }
}

.message-card {
  border-radius: 0 20px 20px 20px;
  background-color: $bgGrey;
  transform: translateX(-20px) translateY(-24px);
  transition: background-color 0.3s ease;
  word-wrap: break-word;
  max-width: calc(100% - 90px);
  box-sizing: border-box;
  width: fit-content;
  margin: 15px;
  @include fontNunito(400, 16px);
  white-space: pre-wrap;
  margin-bottom: -16px;
}

.emoji-popup {
  position: absolute;
  top: 22px;
  right: 11px;
  transform: translateY(100%);
  opacity: 0;
  transition: transform 0.3s ease, opacity 0.3s ease;
  height: 46px;
  border: 1px solid $bgGrey;
  border-radius: 20px 20px 0px 25px;

  mat-card-content {
    @include dFlex($gap: 8px);
    padding: 10px;
  }
}

.action-btn {
  color: $bgdGrey;

  &:not(:disabled):hover {
    cursor: pointer;
    transform: scale(1.02);
    color: $dkBlue;
  }
}

.action-btn-emoji {
  @include dFlex();
  border-radius: 50%;
  height: 26px;
  width: 26px;
  font-size: 20px;

  &:hover {
    cursor: pointer;
    background-color: $dkBlue;
  }
}

.current-user {
  flex-direction: row-reverse;
  padding: 8px 36px 8px 20px;

  &:hover {
    .emoji-popup {
      animation: emojiPopupRev 0.3s ease-out forwards;
    }
  }

  .details {
    align-items: flex-end;

    .name-timestamp {
      flex-direction: row-reverse;
    }

    .message-card {
      border-radius: 20px 0 20px 20px;
      background-color: $bgBlue;
      transform: translateX(20px) translateY(-24px);
      color: white;
    }

    .reply {
      flex-direction: row-reverse;
    }
  }

  .emoji-popup {
    top: 22px;
    right: unset;
    left: 11px;
    transition: transform 0.3s ease, opacity 0.3s ease;
    border-radius: 20px 20px 20px 0px;
  }

  .likes-row {
    flex-direction: row-reverse;
  }
}

.likes-row {
  @include dFlex($fd: row, $gap: 8px);

  .sorted-like {

    .emoji {
      @include dFlex($fd: row, $gap: 4px);
      background-color: white;
      border: 1px solid $lgPurple;
      border-radius: 16px;
      padding: 2px 8px;

      div {
        height: 20px;
        width: 20px;
        font-size: 16px;
      }

      &:hover {
        cursor: pointer;
      }
    }

    .hidden-like {
      display: none;
      position: fixed;
      z-index: 9;
      background-color: $bgBlue;
      border-radius: 20px 20px 20px 0;
      padding: 20px;

      div {
        @include dFlex();
        height: 35px;
        font-size: 30px;
        text-align: center;
      }

      a {
        text-decoration: none;
        font-size: 18px;
        font-weight: 500;
        color: white;
      }

      span {
        font-size: 16px;
        color: white;
      }

    }

    &:hover {
      .hidden-like {
        @include dFlex ($fd: column, $gap: 8px)
      }
    }

  }
}

app-edit-message {
  width: 100%;
  padding-left: 10px;
}

// edit part

// .edit {
//   width: 100%;
//   border-radius: 20px;
//   border: 1px solid $lgPurple;
//   z-index: 2;
//   background-color: white;
//   padding: 20px 20px 0 20px;
//   margin: 0 20px;
//   width: calc(100% - 30px);
//   margin: 15px;
//   position: relative;

//   &:hover,
//   &:focus-within {
//     border: 1px solid $dkBlue;
//   }
// }

// .edit-text {
//   width: 100%;
//   resize: none;
//   border: none;
//   outline: none;
//   font-family: "nunito";
//   font-weight: 400;
//   font-size: 16px;
//   overflow: hidden;
// }

// .edit-bottom {
//   @include dFlex($jc: space-between);
//   padding: 8px 0;
//   width: 100%;
// }

// .btn-area {
//   @include dFlex($gap: 15px)
// }

// .icon-btn {
//   @include dFlex();
//   transition: background-color 0.3s ease-in-out;
//   width: 30px;
//   height: 30px;
//   border-radius: 100%;
//   padding: unset;
//   border: none;

//   // mat-icon{
//   //   font-size: 20px;
//   //   height: 20px;
//   //   width: 20px;
//   // }
// }

// .delet-btn {
//   background-color: #ff1100;
//   color: white;

//   &:hover {
//     cursor: pointer;
//     border: 1px solid #ff110099;
//     background-color: #ff110099;
//   }

//   &:active {
//     transform: scale(0.98);
//   }

// }

// .safe-btn {
//   background-color: $dkBlue;
//   color: white;

//   &:hover {
//     cursor: pointer;
//     border: 1px solid $bgBlue;
//     background-color: $bgBlue;
//   }

//   &:active {
//     transform: scale(0.98);
//   }
// }

// .cancle-btn {
//   background-color: transparent;
//   color: $bgdGrey;

//   &:hover {
//     cursor: pointer;
//     // border: 1px solid white;
//     background-color: $bgGrey;
//     color: $bgdGrey;
//     transition: ease-in-out 0.3s;
//   }

//   &:active {
//     transform: scale(0.98);
//   }
// }

// .btn-disable {
//   background-color: #686868;

//   &:hover {
//     cursor: unset;
//     border: none;
//     background-color: #686868;
//   }

//   &:active {
//     transform: unset;
//   }
// }

// .pos-abso-right-top {
//   position: absolute;
//   right: 2px;
//   top: 2px;
// }


@media (max-width: $tablet-breakpoint) {

  .message {
    padding: 8px 16px 8px 16px;
  }

  .current-user {
    padding: 8px 16px 8px 16px;
  }

  .message-card {
    max-width: calc(100% - 100px);
  }

}

@media (max-width: $mobile-breakpoint) {}