<header class="header-channel">
    <div class="channel-info" #channleInfo (mouseover)="changeImgBl()"
    (mouseleave)="changeImgBk()" (click)="openDialogChannel()">
        <img style="width: 24px; height: 24px;" src="./../../../../../assets/img/icons/hash_bk_22.png" alt="hash">
        <mat-card-title>{{ channel.name }}</mat-card-title>
        <img src="./../../../../../assets/img/icons/expand_more_bk.png" alt="hash">
    </div>
    <div class="users-info">
        <div class="users" #membersInfo (click)="openDialogMembers()">
            <div class="users-list">
                @for (member of currentChannelMembers; track $index) {
                    <img class="user-avatar" [src]="member.avatar" (error)="onImageError($event)" alt="userName">
                }
            </div>
            <span>{{ currentChannelMembers.length }}</span>
        </div>
        <button mat-icon-button class="icon-button" #addUser (click)="openDialogAddUser()">
            <mat-icon>person_add_alt</mat-icon>
        </button>
    </div>
</header>