@import './../../../../../../styles.scss';

mat-card {
    padding: 40px;
    width: 100%;
    min-width: 450px;
    height: 100%;

    @include dFlex($fd: column, $ai: flex-end, $gap: 20px);

    mat-progress-bar {
        @include pAbsolute($t: 0px, $l: -15px);
        width: 100%;
    }
}

header {
    @include dFlex($jc: space-between);
    width: 100%;

    mat-card-title {
        font-size: 24px;
        font-weight: 700;
    }

    button {
        @include iButton($bgC: unset, $hBgIC: #000);
    }
}

.section {
    @include dFlex($fd: column, $ai: flex-start, $gap: 20px);
    width: 100%;

    header {
        @include dFlex($jc: flex-start, $ai: flex-end, $gap: 5px);
        width: 100%;

        a {
            color: $dkBlue;
            text-decoration: none;

            &:hover {
                color: $dkPurple;
                font-weight: 500;
            }
        }
    }

    p {
        margin: 0;
    }

    input {
        font-weight: 400;
        border: none;
        outline: none;
        font-size: 18px;
    }

}

.section-box {
    padding: 20px;
    border: 1px solid $lgPurple;
    border-radius: 20px;
    width: calc(100% - 40px);
}

.section-title {
    font-size: 18px;
    font-weight: 500;
}

.channel-name {
    @include dFlex($jc: flex-start, $gap: 15px);

    span {
        font-size: 18px;
        font-weight: 400;
    }
}

.channel-edit-inp {
    @include dFlex($jc: flex-start, $gap: 15px);
    padding: 18px 20px 18px 20px;
    border: 1px solid $lgPurple;
    border-radius: 40px;
    width: calc(100% - 40px);

    input {
        width: 100%;
    }
}

.btn {
    font-size: 18px;
    font-weight: 700;
    height: 49px;
    border: none;
    border-radius: 28px;
    font-weight: 700;
    padding: 12px 25px;
    color: white;
    background-color: $dkBlue;

    &:hover {
        cursor: pointer;
        background-color: $lgBlue;
    }
}

.btn-disable {
    background-color: $dkGrey;

    &:hover {
        background-color: $dkGrey;
        cursor: unset;
    }
}

.btn-enable {
    background-color: $dkBlue;

    &:hover {
        cursor: pointer;
        background-color: $lgBlue;
    }
}

.error-message {
    height: 12px;
    color: red;
    font-size: 0.875rem;
    margin-top: -10px;
}
