@import './../../../../styles.scss';

.user-sector {
    width: 100%;
    position: relative;

    .selected-users {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 5px;
        max-height: 250px;
        width: 100%;
        overflow-y: auto;
    }

    .user-input {
        width: calc(100% - 42px);
        padding: 15px 20px;
        border-radius: 30px;
        border: 1px solid $lgPurple;
        outline: none;

        &:focus-visible {
            border-color: $bgBlue;
        }
    }

    .filtered-users {
        position: fixed;
        z-index: 100;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        padding: 25px;
        margin-top: -8px;
        margin-left: 16px;
        background: white;
        border: 1px solid $lgPurple;
        border-radius: 0 30px 30px 30px;
        list-style-type: none;
        max-height: 250px;
        overflow-y: auto;
        max-width: 300px;
    }

    .user-chip {
        cursor: pointer;
        transition: transform 0.2s ease;
        transform: scale(0.8);

        &:hover {
            transform: scale(0.9);
        }
    }
}