@if(channelMsg){

<mat-card class="thread-panel">
  <header class="thread-panel__header">
    <div class="thread-panel__title-text">
      <h2>Thread</h2>
      <p>#{{ channel?.name }}</p>
      <!--Channel-->
    </div>
    <button class="thread-panel__close-button">
      <mat-icon class="thread-panel__close-icon">close</mat-icon>
    </button>
  </header>
  <main>

    <app-message [msg]="channelMsg" [currentUserID]="data.currentUser.id"
      [user]="data.getUserFromMessage(channelMsg)"></app-message>

    <div class="response-counter">
      <div>{{ channelMsg.replies.length }}</div>
      <div>Antworten</div>
      <mat-divider></mat-divider>
    </div>

    <!-- REPLY MESSAGE -->

    @for (reply of channelMsg.replies ; track $index) {
    <app-message [msg]="reply" [currentUserID]="data.currentUser.id"
      [user]="data.getUserFromReply(reply)"></app-message>
    }

  </main>

  <app-input-textarea></app-input-textarea>

</mat-card>


}