// kann später wieder raus, wenn global in styles.scss
/////////// global mixings /////////////

@mixin dFlex ($fd: row, $jc: center, $ai: center, $gap: 0) {
    display: flex;
    flex-direction: $fd;
    justify-content: $jc;
    align-items: $ai ;
    gap: $gap ;
}

@mixin pAbsolute ($t: unset, $r: unset, $b: unset, $l: unset, $z: unset) {
    position: absolute;
    top: $t;
    right: $r;
    bottom: $b;
    left: $l;
    z-index: $z;
}


$bgGrey: #ECEEFE;
$bgBlue: #797EF3;

$dkBlue: #535AF1;
$lgBlue: #6E73DD;

// ggf. auch 

.icon-btn {
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;

    &:hover {
        cursor: pointer;
        background-color: $bgGrey;
        border-radius: 50%;
    }
}

.d-none {
    display: none;
}

/////////////////////////////////

.menu-card {
    width: 366px;
    height: 100%;
    border-radius: 30px;
    padding: 32px 30px 32px 30px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    transition: transform 0.5s ease-in-out;
}


.menu-open {
    transform: translateX(0); // Menü sichtbar
}

.menu-closed {
    transform: translateX(-120%); // Menü versteckt
}

.menu-overlay-close {
    @include dFlex($ai: center, $gap: 10px);
    @include pAbsolute($t: 50%, $l: -145px, $z: 1);
    width: 347px !important;
    height: unset !important;
    transform: rotate(270deg);
    border-radius: 0px 0px 30px 30px;
    padding: 14px 23px 14px 23px;
    z-index: 10;
    box-shadow: 4px 4px 7px 0px rgba(0, 0, 0, 0.2);

    mat-card-title {
        @include dFlex($ai: center, $gap: 10px);
        font-size: 20px;

        img {
            transform: rotate(90deg);
        }
    }

    &:hover {
        cursor: pointer;
        box-shadow: 4px 4px 7px 1px rgba(0, 0, 0, 0.3);

        mat-card-title {
            color: $dkBlue;
        }
    }
}