/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color:#ECEEFE;}

.card-right-corner{
    border-radius: 30px 0 30px 30px;
    overflow: hidden;
}

.mat-button-focus-overlay {
    background-color: transparent!important;
}

@each $weight in (200, 300, 400, 500, 600, 700, 800, 900) {
  @font-face {
    font-display: swap;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: $weight;
    src: url('/assets/fonts/nunito-v26-latin-#{$weight}.woff2') format('woff2');
  }
}

@each $weight in (300, 400, 500, 600, 700, 800, 900) {
  @font-face {
    font-display: swap;
    font-family: 'Figtree';
    font-style: normal;
    font-weight: $weight;
    src: url('/assets/fonts/figtree-v5-latin-#{$weight}.woff2') format('woff2');
  }
}