/////////// global colors /////////////

$bgGrey: #eceefe;
$bgBlue: #797ef3;

<<<<<<< HEAD
$dkBlue: #535af1;
$lgBlue: #6e73dd;

$lgPurple: #adb0d9;
=======
$dkGrey: #686868; //also for status icon 'abwesend'
$lgGreen: #92c83e; //also for status icon 'aktiv'

$dkBlue: #535AF1;
$lgBlue: #6E73DD;
$lgBlueLinks: #1381ff; // for links

$lgPurple: #ADB0D9;
$dkPurple: #444df2; // for buttons
>>>>>>> 2898905f6813d22bf7fe6690e1e47c269066f4fb

$bgdGrey: #686868;

/////////// border + shadows /////////////

$boxShadow: 0px 2px 10px 0px #00000014;

/////////// global mixings /////////////

@mixin dFlex($fd: row, $jc: center, $ai: center, $gap: 0) {
  display: flex;
  flex-direction: $fd;
  justify-content: $jc;
  align-items: $ai;
  gap: $gap;
}

@mixin pAbsolute($t: unset, $r: unset, $b: unset, $l: unset, $z: unset) {
  position: absolute;
  top: $t;
  right: $r;
  bottom: $b;
  left: $l;
  z-index: $z;
}

<<<<<<< HEAD
@mixin iButton(
  $h: 40px,
  $w: 40px,
  $bgC: $bgGrey,
  $p: 8px,
  $hBgC: $bgGrey,
  $hBgIC: $bgGrey
) {
=======
@mixin iButton($h: 40px, $w: 40px, $bgC: $bgGrey, $iC: #000, $p: 8px, $hBgC: $bgGrey, $hBgIC: $bgGrey) {
>>>>>>> 2898905f6813d22bf7fe6690e1e47c269066f4fb
  height: $h;
  width: $w;
  background-color: $bgC;
  padding: $p;

  mat-icon {
    color: $iC;
  }

  &:hover {
    background-color: $hBgC;

    mat-icon {
      color: $hBgIC;
    }
  }

  &:focus,
  &:active {
    background-color: $bgC;
  }
}

/////////// global fonts /////////////

@mixin fontNunito($weight: 400, $size: 14px) {
  font-family: "nunito";
  font-weight: $weight;
  font-size: $size;
}

@each $weight in (200, 300, 400, 500, 600, 700, 800, 900) {
  @font-face {
    font-display: swap;
    font-family: "Nunito";
    font-style: normal;
    font-weight: $weight;
    src: url("/assets/fonts/nunito-v26-latin-#{$weight}.woff2") format("woff2");
  }
}

@each $weight in (300, 500, 400, 600, 700, 800, 900) {
  @font-face {
    font-display: swap;
    font-family: "Figtree";
    font-style: normal;
    font-weight: $weight;
    src: url("/assets/fonts/figtree-v5-latin-#{$weight}.woff2") format("woff2");
  }
}

/////////// global classes /////////////

.d-none {
  display: none;
}

.card-right-corner {
  border-radius: 30px 0 30px 30px;
  overflow: hidden;
}

.mat-button-focus-overlay {
  background-color: transparent !important;
}

.mat-mdc-dialog-container .mdc-dialog__surface {
  border-radius: 30px !important;
}

.mat-mdc-unelevated-button {
  font-family: Nunito, "Helvetica Neue", sans-serif;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Nunito, "Helvetica Neue", sans-serif;
<<<<<<< HEAD
  background-color: #eceefe;
}
=======
  background-color: #ECEEFE;
}

.status-icon {
  height: 16px;
  width: 16px;
  border-radius: 50%;
  border: 1px solid white;
  background-color: $lgGreen;

}

a {
  text-decoration: none;
  color: $lgBlueLinks;

  &:hover {
    cursor: pointer;
  }
}
>>>>>>> 2898905f6813d22bf7fe6690e1e47c269066f4fb
