<div class="dialog-container">
    <h2>Profil</h2>
    <div class="avatar-container">
        <img src="{{ data.user.avatar }}" alt="">
    </div>
    <div class="name-status-container">
        <div class="name-container">
            <h1>{{ data.user.name }} {{ data.user.id == currentUserID ? ' (Du)' : '' }}</h1>
            <a (click)="openDialogEditUser(data.user)" *ngIf="data.user.id == currentUserID">Bearbeiten</a>
        </div>
        <div class="status-icon-with-label">
            <div class="status-indicator" [class.online]="userStatus === 'online'"></div>
            <span class="status-label" [class.online]="userStatus === 'online'">{{ userStatus }}</span>
        </div>
    </div>
    <div class="mail-container">
        <img src="../../../../../assets/img/icons/mail.png" alt="">
        <div class="mail">
            <span>Email-Adresse</span>
            <a href="mailto:noah-braun@web.de">{{ data.user.email }}</a>
        </div>
    </div>
    <div class="button-container" *ngIf="data.user.id !== currentUserID">
        <div mat-dialog-actions>
            <button mat-flat-button color="primary" (click)="sendMessage()">
                <!-- <img src="../../../../../assets/img/icons/comment.png" alt=""> -->
                <mat-icon>mode_comment</mat-icon>
                <span>Nachricht</span>
            </button>
        </div>
    </div>
    <img src="../../../../../assets/img/icons/close.png" class="btn-close" (click)="closeDialog()" alt="close">
</div>